name: Quarto Publish

on:
  push:
    branches: main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'
          use-public-rspm: true

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rmarkdown
            any::knitr
            any::jsonlite
            any::rms
            any::dplyr
            any::ggplot2
            any::remotes
            any::investr
            any::pdp
            any::nnet
            any::MASS
            any::VGAM
            any::lattice
            any::pscl
            any::glmnet
            any::tibble
            any::ISLR2
            any::AmesHousing
            any::gridExtra
            any::faraway
            any::partykit
            any::plotmo
            any::rpart
            any::rpart.plot
            any::tree
            any::car
            any::corrplot
            any::Hmisc
            any::pROC
            any::performance
            any::randomForest
            bgreenwell/treemisc

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
